html{
    box-sizing: border-box;
    height: 100%;
}

body{
    position: absolute;
    font:  sans-serif;
    height: inherit;
    background: linear-gradient(300deg,#47ffaf,#6b1de1) ;
    align-items: center;
    justify-items: center row;
}

.titulo{
    display: flex;
    justify-content: center;

}

.formulario{
    display: grid;
    grid-row: inherit;
    justify-items: center;
    border: 5px black solid;
    border-radius: 6px;
    padding: 0px 0px ;
    margin: 0em 20em;
}

.formulario p{
    font-weight: bold;
    text-align: center;
}

.texto{
    border-radius: 10px;
    box-shadow: black;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
 }

.buttona{
    display: flex;
    padding: 7px 20px;
}

.mail input{
    width:200px;
    border-radius: 6px;
}

